@page "/addDino"
@rendermode InteractiveServer
@using Ark_Breeding_Calculator.Services
@inject DinoStateService DinoService /* DATABASE */

<h3>Add New Dinosaur</h3>

<p>Breeding Line</p>
<!--Iterates through the Database and displays each available breeding line-->
<!--The final option is new, which will return a null value for the Guid object-->
<select @bind="selectedLineId">
    @foreach (IGrouping<Species, BreedingLineModel> group in DinoService.BreedingLines
            .GroupBy(species => species.Species)
            .OrderBy(group => group.Key))
    {
        <optgroup label="@group.Key">
            @foreach (BreedingLineModel breedingLine in group.OrderBy(species => species.Name))
            {
                <option value="@breedingLine.Id">@breedingLine.Name</option>
            }
        </optgroup>
    }
    <option value="">New</option>
</select>

<!--User gets a drop down of all available speices-->
<p>Species</p>
<select @bind="dinosaur.Species">
    @foreach (var species in Enum.GetValues<Species>())
    {
        <option value="@species">@species</option>
    }
</select>

<!--Dropdown to select gender-->
<p>Gender</p>
<select @bind="dinosaur.Gender">
    @foreach (var gender in Enum.GetValues<Gender>())
    {
        <option value ="@gender">@gender</option>
    }
</select>

<!--Number inpputs for all stats-->
<p>Health</p>
<input type="number" @bind="dinosaur.Health"/>

<p>Stamina</p>
<input type="number" @bind="dinosaur.Stamina"/>

<p>Oxygen</p>
<input type="number" @bind="dinosaur.Oxygen"/>

<p>Food</p>
<input type="number" @bind="dinosaur.Food"/>

<p>Water</p>
<input type="number" @bind="dinosaur.Water"/>

<p>Carry Weight</p>
<input type="number" @bind="dinosaur.Weight"/>

<p>Melee</p>
<input type="number" @bind="dinosaur.Melee"/>

<button @onclick="AddNewDino">Add</button>

@code {
    // Initial data to work with
    DinosaurModel dinosaur = new DinosaurModel();
    private Guid? selectedLineId;

    // Method to add the new dino to the Database
    private void AddNewDino()
    {
        // First checks to see if the Guid is null to make a brand new dinosaur
        if (selectedLineId == null)
        {
            // Initialize the new BreedingLineModel using the user input information
            BreedingLineModel breedingLine = new BreedingLineModel()
            {
                Id = new Guid(),
                Name = dinosaur.Species.ToString(),
                Species = dinosaur.Species,
                Dinosaurs = new List<DinosaurModel>()
            };

            // Add the new BreedingLineModel to the Database
            DinoService.AddBreedingLine(breedingLine);
            // Add the new dinosaur to the breedingLine
            DinoService.AddDinoToLine(breedingLine.Id, dinosaur);
        }
        else
        {
            // Add the new dinosaur to the correct breedingLine
            DinoService.AddDinoToLine(selectedLineId.Value, dinosaur);
        }

        // Reset the form
        dinosaur = new DinosaurModel();
    }
}
