@page "/addDino"
@rendermode InteractiveServer
@using Ark_Breeding_Calculator.Services
@inject DinoStateService DinoService /* DATABASE */

<h1>Add Dinosaur</h1>

<!--Form to make a new dinosaur to be added to the list-->
<div class="container" style="width: 250px;  margin-left: 0 ">
   <EditForm Model="@newDino" OnSubmit="HandleSubmit">
       <label class="form-label">Species</label>
       <InputSelect class="form-control" @bind-Value="newDino.Species">
        @foreach (Species species in Enum.GetValues<Species>())
        {
            <option value="@species">@species</option>
        }
        </InputSelect>

        <label class="form-label">Gender</label>
        <InputSelect class="form-control" @bind-Value="newDino.Gender">
            @foreach (Gender gender in Enum.GetValues<Gender>())
            {
                <option value="@gender">@gender</option>
            }
        </InputSelect>

       <label class="form-label">Health</label>
       <InputNumber class="form-control" @bind-Value="newDino.Health" />

        <label class="form-label">Stamina</label>
        <InputNumber class="form-control" @bind-Value="newDino.Stamina" />

        <label class="form-label">Oxygen</label>
        <InputNumber class="form-control" @bind-Value="newDino.Oxygen" />

        <label class="form-label">Food</label>
        <InputNumber class="form-control" @bind-Value="newDino.Food" />

        <label class="form-label">Water</label>
        <InputNumber class="form-control" @bind-Value="newDino.Water" />

        <label class="form-label">Weight</label>
        <InputNumber class="form-control" @bind-Value="newDino.Weight" />

        <label class="form-label">Melee</label>
        <InputNumber class="form-control" @bind-Value="newDino.Melee" />

       <button type="submit">Submit</button>
   </EditForm>
</div>

<div style="display: flex; gap: 1rem;" class="container">
    @foreach (DinosaurModel dinosaur in /* DATABASE */ DinoService.Dinosaurs /* DATABASE */)
    {
        <DinosaurCardPartialView Dinosaur="dinosaur"/>
    }
</div>


@code {
    private DinosaurModel newDino = new();

    private void HandleSubmit()
    {
        DinoService.Add(newDino);

        newDino = new DinosaurModel(); // reset form
    }
}
