@page "/addDino"
@rendermode InteractiveServer
@using Ark_Breeding_Calculator.Services
@inject DinoStateService DinoService /* DATABASE */

<h3>Add New Dinosaur</h3>

<!--Number inpputs for all stats-->
<div class="form-grid">

    <!-- LEFT COLUMN -->
    <div class="column">
        <p>Breeding Line</p>
        <select @bind="selectedLineId">
            @foreach (IGrouping<Species, BreedingLineModel> group in DinoService.BreedingLines
                    .GroupBy(species => species.Species)
                    .OrderBy(group => group.Key))
            {
                <optgroup label="@group.Key">
                    @foreach (BreedingLineModel breedingLine in group.OrderBy(species => species.Name))
                    {
                        <option value="@breedingLine.Id">@breedingLine.Name</option>
                    }
                </optgroup>
            }
            <option value="">New</option>
        </select>

        <p>Species</p>
        <select @bind="dinosaur.Species">
            @foreach (var species in Enum.GetValues<Species>())
            {
                <option value="@species">@species</option>
            }
        </select>

        <p>Gender</p>
        <select @bind="dinosaur.Gender">
            @foreach (var gender in Enum.GetValues<Gender>())
            {
                <option value="@gender">@gender</option>
            }
        </select>

        <p>Mutated</p>
        <select @bind="dinosaur.Mutated">
            <option value="true">True</option>
            <option valu="false">False</option>
        </select>
    </div>

    <!-- MIDDLE COLUMN -->
    <div class="column">
        <p>Health</p>
        <input type="number" @bind="dinosaur.Health" />

        <p>Stamina</p>
        <input type="number" @bind="dinosaur.Stamina" />

        <p>Oxygen</p>
        <input type="number" @bind="dinosaur.Oxygen" />

        <p>Food</p>
        <input type="number" @bind="dinosaur.Food" />
    </div>

    <!-- RIGHT COLUMN -->
    <div class="column">
        <p>Water</p>
        <input type="number" @bind="dinosaur.Water" />

        <p>Carry Weight</p>
        <input type="number" @bind="dinosaur.Weight" />

        <p>Melee</p>
        <input type="number" @bind="dinosaur.Melee" />
        
        <br/>
        <button @onclick="AddNewDino">Add</button>      
    </div>
    
</div>
<!--Message that pops up when the user hits the button and the dinosaur is created succefully-->
@if (showSuccessMessage)
{
    <div class="alert alert-success">
        Dinosaur successfully created!
    </div>
}

@code {
    // Starting state
    DinosaurModel dinosaur = new DinosaurModel();
    private Guid? selectedLineId;
    bool showSuccessMessage = false;

    private async Task AddNewDino()
    {
        DinoService.AddDinoToLine(selectedLineId, dinosaur);

        // Resets the form
        dinosaur = new DinosaurModel();
        selectedLineId = null;

        // Shows a message to the user that the dino was added
        showSuccessMessage = true;

        // Auto-hide after 10 seconds
        await Task.Delay(10000);
        showSuccessMessage = false;
    }
}
