@page "/displayBreedingLine"
@rendermode InteractiveServer
@inject DinoStateService DinoService /* DATABASE */

<PageTitle>Breeding Line</PageTitle>

<h1>Breeding Line</h1>

<p>
    <div style="display: flex; gap: 1rem;">
        @foreach (Dinosaur dinosaur in /* DATABASE */ DinoService.Dinosaurs /* DATABASE */)
        {
            <div class="card p-2 m-2 @(dinosaur.Gender == Gender.Male ? "dino-male" : "dino-female")">
                <p>Species: @dinosaur.Species</p>
                <p>Name: @dinosaur.Name</p>
                <p>Health: @dinosaur.Health</p>
                <p>Stamina: @dinosaur.Stamina</p>
                <p>Oxygen: @dinosaur.Oxygen</p>
                <p>Food: @dinosaur.Food</p>
                <p>Water: @dinosaur.Water</p>
                <p>Weight: @dinosaur.Weight</p>
                <p>Melee: @dinosaur.Melee</p>
            </div>
        }
    </div>
</p>

<div>
    <button type="button" class="btn btn-primary rounded-3 px-4 py-2">View</button>
</div>

@code {
    // Checks the user input against the species enum to see if their input is valid
    public string CheckInput(string input)
    {
        foreach (Species species in Enum.GetValues(typeof(Species)))
        {
            if (input.ToLower() == species.ToString().ToLower())
            {
                return species.ToString();
            }
        }
        return "Nothing Found. Please try again.";
    }
}
