<!-- Displays a single Dinosaur's stats in a styled card -->
<!--The color will change based on gender-->
<div class="card p-2 m-2 @(Dinosaur.Gender == GenderEnumModel.Male
             ? "dino-male"
             : (Dinosaur.Gender == GenderEnumModel.Female
                 ? "dino-female"
                 : "dino-unknown"))">

    <!-- Basic identity -->
    <p>Species: @Dinosaur.Species</p>
    <p>Name: @Dinosaur.Name</p>
    <p>Mutate: @Dinosaur.Mutated</p>

    <!-- Core stats -->
    <p>Health: @Dinosaur.Stats.Health</p>
    <p>Stamina: @Dinosaur.Stats.Stamina</p>
    <p>Oxygen: @Dinosaur.Stats.Oxygen</p>
    <p>Food: @Dinosaur.Stats.Food</p>
    <p>Water: @Dinosaur.Stats.Water</p>
    <p>Weight: @Dinosaur.Stats.Weight</p>
    <p>Melee: @Dinosaur.Stats.Melee</p>
</div>

@code {
    // Input parameter: the Dinosaur to display
    // This is passed in from the Page that calls this PartialView
    [Parameter]
    public DinosaurModel Dinosaur { get; set; } = default!;
}